.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
header{
  background-color: rgb(37, 58, 103);
  margin: 0;
  padding: 1em;
  padding-bottom: .1em;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
}
h1, h2{
  color: rgb(155, 180, 234);
  text-align: center;
}

nav {
  justify-content: space-between;
}

nav > a{
  background-color: rgb(68, 79, 103);

  color: #C5C6C7;
  flex: 1 1 0;
  text-align: center;
}
main{
  background-color: rgb(68, 79, 103);
}
.note-title{
  flex: 1 1 100%;
  margin: 0;
}
.note-search{
  border-bottom: 0;
  flex: 1 1 100%;
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 1em;
  text-align: center;
}

.note-body{
  background-color: rgb(155, 180, 234);
  color: black;
  flex: 1 1 100%;
  font-size: 18px;
  resize: none;
}

footer{
  background-color: rgb(68, 79, 103);
  padding: 1.5em 0;
}

h6{
  margin: 0;
}
